html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(39, 39, 39);
    color: white;
    height: 100vh;
    width: 99vw;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: tomato;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.icon {
    color: white;
}

.title-img-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.title-img {
    height: auto;
    max-width: 100%;
}

.form .checkbox, .form .option {
    float: left;
}

.adImage {
    /* display: block; */
    max-width: 100%;
    height: auto;
    margin: auto auto;
    display: block;
}

/*Mobile ad*/

@media only screen and (min-width: 100px) {
    .ad-show-sm {
        display: block !important;
    }
    .ad-show-md {
        display: none !important;
    }
    .ad-show-lg {
        display: none !important;
    }
}

/*Tablet ad*/

@media only screen and (min-width: 768px) {
    .ad-show-sm {
        display: none !important;
    }
    .ad-show-md {
        display: block !important;
    }
    .ad-show-lg {
        display: none !important;
    }
}

/*Desktop ad*/

@media only screen and (min-width: 1200px) {
    .ad-show-sm {
        display: none !important;
    }
    .ad-show-md {
        display: none !important;
    }
    .ad-show-lg {
        display: block !important;
    }
}